<div class="container">
  <div class="ui segment">
    <h3>Parterns Section</h3>
  </div>
  <div class="ui segment">
    <p>I will explain all of them very often, pleasure, here pleasure resultant
      shun the pains of choosing rather than eagerness to welcome greater resilience to hardship
      which one receives? No, please. Let him seek pleasure, not an architect by praising him
      there are ways to be the least of times, they are to blame, never to be accepted
      the whole idea of ​​pleasure is that of exercise in flight. We can apologize to any one of them
      as if to choose some one, who would please the body?</p>
  </div>
</div>
